<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer, sentry]"/>
    <!--    <arg name="robot_type" default="engineer"/>-->
    <arg name="debug" default="false"/>
    <arg name="load_chassis" default="true"/>

    <arg unless="$(arg debug)" name="launch_prefix" value=""/>
    <arg if="$(arg debug)" name="launch_prefix" value="gdbserver :1234"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rc_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro
                         load_chassis:=$(arg load_chassis) roller_type:=none
                    "/>
    <rosparam file="$(find rc_config)/config/rc_control/rc_hw/actuator_coefficient.yaml" command="load" ns="rc_hw"/>
    <rosparam file="$(find rc_config)/config/rc_control/rc_hw/$(arg robot_type).yaml" command="load"/>

    <node name="rc_hw" launch-prefix="$(arg launch_prefix)" pkg="rc_hw" type="rc_hw" respawn="false"
          clear_params="true"/>
</launch>